



.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    margin-left: 10%;
  }

  .form-login{
      //background: #3171e0;
      border: 3px solid  #4c8dff;
      border-radius: 10px;
      width: 80%;
      margin-left: 10%;
  }