<ion-content class="ion-padding">

  <ion-grid>

    <br><br><br>

    <ion-img src="assets/candado.jpg" class="logo"></ion-img>

    <form autocomplete="off">
      <ion-row class="form-login">
        <ion-col size="12" class="ion-text-center">
          <ion-item>

            <ion-input placeholder="Usuario"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <br>
      <ion-row class="form-login">
        <ion-col size="12" class="ion-text-center">
          <ion-item>
            <ion-input placeholder="Contraseña"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <br><br>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-button color="tertiary" type="submit">ACCESO</ion-button>
        </ion-col>
      </ion-row>

    </form>





  </ion-grid>
</ion-content>